.MMM-inOutBoard table{
  font-size: 40px;
}

.MMM-inOutBoard td{
  text-align: center;
}

.MMM-InOutBoard .inoutH{
  font-size: 50px;
  text-decoration: underline;
  padding: 10px;
}

.MMM-InOutBoard td,.MMM-InOutBoard table{
border:5px solid;
border-collapse:collapse;
border-color: #999;
padding: 10px;
}

.MMM-InOutBoard th{
border:5px solid;
border-collapse:collapse;
border-color: #999;
color: white;
padding: 10px;
}

.MMM-InOutBoard td.color-out {
color:red;
}

.MMM-InOutBoard td.color-in {
color:green;
}
